/*logo*/

#logo {
	width: 100%;
	height: 90px;
	background: white;
}

.logo_img {
	width: 1000px;
	height: 90px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: auto;
}

#logo img {
	height: 70px;
	float: left;
}


/*导航部分*/

#nav {
	width: 100%;
	height: 40px;
	background: black;
}

nav {
	width: 1000px;
	height: 40px;
	margin: auto;
}

nav ul li {
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	position: relative;
}

nav ul li span {
	width: 0px;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 10px;
	background: #ef7906;
}

nav ul li:hover {
	color: #ef7906;
	box-sizing: border-box;
}

nav ul li:hover span {
	transition: width 0.6s;
	width: 100px;
}

nav ul li:not(first-child) {
	margin-left: 10px;
}


/*内容部分*/

#body {
	width: 100%;
	height: 470px;
	margin: 30px auto;
	position: relative;
}

#body>div:not(.bztx) {
	width: 1200px;
	height: 470px;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -600px;
	display: none;
	font-size: 40px;
	line-height: 470px;
	text-align: center;
	border-radius: 20px;
}

.body_left {
	float: left;
	width: 60px;
	height: 470px;
}

.body_left>div {
	width: 65px;
	height: 65px;
	text-align: center;
	margin-top: 1px;
	font-size: 14px;
	padding: 10px 0 0 0;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
}

.body_left>div img {
	width: 20px;
}

.body_left>div p {
	margin-top: 2px;
}


/*右边内容区*/

.body_right {
	margin: auto;
	width: 1000px;
	height: 470px;
	background: white;
	border-radius: 15px;
	position: relative;
	left: 20px;
	padding: 10px 20px;
	box-sizing: border-box;
	font-size: 40px;
	text-align: center;
	color: #333333;
}


/*.body_right_title{
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin: auto;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #898989;
}
.body_right_content{
	width: 100%;
	height: 420px;
	overflow: auto;
	font-size: 16px;
}
.title_left{
	width:200;
	height: 35px;
	float: left;
}
.title_right{
	height: 35px;
	float: right;
}
.title_right>div{
	float: left;
	font-size: 12px;
	text-align: center;
	font-weight: 400;
}
.title_right>div a{
	color: red;
}
.title_one,.title_two{
	width: 150px;
}
.title_three,.title_four{
	width: 100px;
}
.zdd{
	width: 100%;
	height: 100px;
	margin-top: 30px;	
}
.zdd_left{
	width: 30%;
	float: left;
	height: 100px;
	line-height: 100px;
}
.zdd_right{
	width: 60%;
	float: right;
	height: 100px;
}
.zdd_right table{
	border-collapse: collapse;
}
.zdd_right table tr td{
	width: 100px;
	border:1px solid  #037fb3;
	box-sizing: border-box;
}
.zdd_right table tr:first-child{
	background: #0399d7;
	color: white;
}
.zdd_right table tr:last-child{
	background: #e8e8e8;
}
.zdd_right table tr:first-child td{
	height: 25px;
}
.zdd_right table tr:nth-child(2) td{
	height: 45px;
}
.zdd_right table tr:nth-child(3) td{
	height: 30px;
}
.pj{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #bbbbbb;
	border-radius: 50%;
	display: inline-block;
	color: #049a35;
	font-size: 14px;
}*/


/*左边菜单栏*/

.left_menu>div {
	width: 300px;
	height: 470px;
	position: absolute;
	left: -320px;
	top: 0;
}

.menu_top {
	width: 100%;
	height: 30px;
}

.menu_top>div {
	float: left;
	width: 100%;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-indent: 1em;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(256, 256, 256, 0.6);
}

.menu_top>div img {
	vertical-align: text-bottom;
	width: 20px;
}

.menu_bot {
	width: 100%;
	height: 470px;
}

.menu_bot_one,
.menu_bot_two {
	float: left;
}

.menu_bot_one {
	width: 130px;
	height: 470px;
	border-right: 1px solid rgba(256, 256, 256, 0.6);
	box-sizing: border-box;
}

.menu_bot_one ul li {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-size: 12px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(256, 256, 256, 0.6);
}

.menu_bot_one ul li a {
	width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	margin-left: 5px;
}

.menu_bot_one ul li span {
	float: right;
	margin-right: 10px;
}

.menu_bot_two {
	float: right;
	width: 170px;
	height: 440px;
	overflow: auto;
	position: relative;
}

.menu_bot_two>div {
	width: 100%;
	height: 440px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.menu_bot_two>div ul li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-indent: 1em;
}


/*点击退出*/

.turn {
	width: 20px;
	height: 80px;
	background: rgba(256, 256, 256, 0.5);
	position: relative;
	top: 180px;
	left: 300px;
	border-radius: 0 8px 8px 0;
	box-shadow: 1px 0px 4px 0 white inset;
}

.turn img {
	width: 20px;
	height: 50px;
	margin-top: 15px;
	position: absolute;
	top: 0px;
	left: 0;
}


/*选中*/

.Selected {
	background: rgba(256, 256, 256, 0.2);
	box-shadow: 0 -2px 4px #f1af4e inset;
}

.Selected_two {
	background: rgba(0, 0, 0, 0.2);
}


/*外观*/

#xx {
	background: #0399d7;
}

#zy {
	background: #ef7906;
}

#kc {
	background: #ef3d06;
}

#js {
	background: #0ab747;
}

#xs {
	background: #5b45a9;
}


/**/

.xx_menu {
	background: #056c97;
}

.zy_menu {
	background: #b05a06;
}

.kc_menu {
	background: #af2b02;
}

.js_menu {
	background: #038330;
}

.xs_menu {
	background: #453481;
}

.xx_menu .turn {
	background: #065576;
}

.zy_menu .turn {
	background: #8c4704;
}

.kc_menu .turn {
	background: #842203;
}

.js_menu .turn {
	background: #026224;
}

.xs_menu .turn {
	background: #352863;
}